<div class="row mt-5">
  <div class="col-md-10">
    <h1>Transactions</h1>
  </div>
  <div class="col-md-2 text-right">
    <a [routerLink]="['/transaction', 'add']">Add new transaction</a>
  </div>
</div>
<div class="row mt-3" *ngIf="(transactions$ | async).length > 0; else no_trans">
  <table class="table" >
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Credit</th>
        <th scope="col">Debit</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions$ | async;">
        <th scope="row">{{ transaction?.createdAt | date:'M/d/yyyy'}}</th>
        <td>{{ transaction?.description || '-' }}</td>
        <td>{{ transaction?.operation === 'credit' ? (transaction.amount | number) : '-' }}</td>
        <td>{{ transaction?.operation === 'debit' ? (transaction.amount | number) : '-' }}</td>
        <td>{{ transaction?.balance | number }} </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #no_trans>
  <div class="row text-center mt-3">
    <div class="col-md-12">
      No transaction history found.
    </div>
  </div>
</ng-template>
